* {
  box-sizing: border-box;
}

body {
  margin: 0 10px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* border: 2px solid blue; */
}

.display-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.algin-center {
  align-items: center;
}

.container {
  margin: 0 auto;
  max-width: 1100px;
}

.text-center {
  text-align: center;
}

.box {
  height: 50px;
  border: 1px solid #222;
  border-radius: 10px;
  background-color: #999;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Header - (Grid) */
.l-header-grids {
  display: grid;
  grid-template-columns: 70px 2fr 1fr;
  height: 50px;
}

.l-header-grid {
  border: 1px solid #222;
  background-color: lightsalmon;
  opacity: 0.8;
  border-radius: 10px;
}

/* Big news box */
.l-big-news {
  display: grid;
  grid-template-columns: 1fr;
  background-color: lightsalmon;
  opacity: 0.8;
  height: 300px;
  border: 1px solid #222;
  border-radius: 10px;
  text-align: center;
}

.l-boxes {
  opacity: 0;
  height: 0;
  width: 0;
  display: flex;
  gap: 10px;
}

.l-box {
  background-color: #999;
  border: 1px solid #222;
  border-radius: 10px;
  opacity: 0.5;
  height: 200px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.l-stories {
  display: flex;
  gap: 10px;
  margin: 0;
}

.l-column {
  /* display: flex;
    flex-direction: column; */

  float: left;
  width: 1100px;
}

.l-news {
  height: 100px;
  width: 700px;
  background-color: #999;
  opacity: 0.5;
  border: 1px solid #222;
  gap: 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ----------------- */
.l-two-column {
  display: flex;
}

.l-main-column {
  float: left;
  height: 200px;
  width: 100%;
  border: 1px solid #222;
  border-radius: 8px;
  background-color: #999;
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.l-left {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.l-right {
  display: none;
}

/* Interview - (Grid) */
.grid-container {
  display: grid;
  height: 1200px;
  grid-template-columns: 1fr;
  gap: 5px;
}

.big-grid {
  border: 1px solid #222;
  background-color: lightsalmon;
  opacity: 0.8;
  border-radius: 10px;
}

.grid {
  border: 1px solid #222;
  background-color: lightsalmon;
  opacity: 0.8;
  height: 100%;
  border-radius: 10px;
}

/* Other news - (Grid) */
.l-other-scroll-news {
  display: grid;
  gap: 10px;
  overflow-x: auto;
  grid-gap: 10px;
  grid-auto-flow: column;
}

.l-scroll-news {
  border: 1px solid #222;
  border-radius: 10px;
  background-color: lightsalmon;
  opacity: 0.8;
  height: 300px;
  width: 200px;
}

/* Live & Photo - (Grid) */
.l-live-photos-grid {
  border: 1px solid lightsalmon;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
}

.l-live-photo-grid {
  border: 1px solid #222;
  background-color: lightsalmon;
  border-radius: 10px;
  height: 250px;
  width: 100%;
  text-align: center;
  align-items: center;
  opacity: 0.8;
}

.l-footer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
}

.l-footer1 {
  height: 100px;
  background-color: #999;
  opacity: 0.5;
  border: 1px solid #222;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.l-footer2 {
  height: 100px;
  background-color: #999;
  opacity: 0.5;
  border: 1px solid #222;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.l-comics {
  display: flex;
  border: 2px solid red;
  justify-content: center;
  align-items: center;
}

.l-comic {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 400px;
  border: 1px solid #222;
  background-color: #999;
  opacity: 0.5;
  border-radius: 10px;
}

@media (min-width: 600px) {
  .l-live-photos-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 960px) {
  .l-story {
    width: 150px;
    height: 235px;
  }
  .l-boxes {
    opacity: 1;
    height: 200px;
    width: 100%;
  }

  /* Grid container */
  .grid-container {
    /* display: grid; */
    grid-template-columns: 2fr 1fr 1fr;
    height: 500px;
    /* gap: 5px; */
  }

  .big-grid {
    grid-row: 1/3;
  }

  /* Live & Photo - (Grid) */
  .l-live-photos-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .l-live-photo-grid {
    height: 315px;
  }

  .l-two-column {
    gap: 10px;
  }
  .l-hot-newses {
    border: 1px solid #222;
    background-color: #999;
    opacity: 0.5;
  }

  .l-column {
    float: left;
    height: 100px;
    width: 100%;
    border: 1px solid #222;
    border-radius: 8px;
    background-color: #999;
    opacity: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .l-hot-news {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    padding: 20px;
  }

  .l-left {
    width: 75.5%;
  }
  .l-right {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 100%;
    width: 260px;
    opacity: 1;
  }
}
