* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 10px 10px;
  font-family: "Montserrat", sans-serif;
  background: rgb(236, 236, 236);
  background: linear-gradient(
    90deg,
    rgba(236, 236, 236, 1) 13%,
    rgba(255, 255, 255, 0) 26%
  );
}

.container {
  margin: 0 auto;
  max-width: 1100px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.box {
  border: 1px solid #222;
  border-radius: 5px;
  font-family: Montserrat;
}

.border-radius {
  border-radius: 5px;
}

.main-tile {
  font-size: 26px;
  font-weight: 700;
  color: #000;
  margin: 0px 0 20px;
  display: flex;
  gap: 7px;
  align-items: center;
}

.main-tile p {
  color: #fff;
  padding: 2px 3px;
  background-color: #00b0f4;
  border-radius: 3px;
  margin: 0;
}

.parent-icon {
  display: flex;
  color: grey;
  font-size: smaller;
  gap: 30px;
}

.icon {
  margin-left: 5px;
  display: inline;
  font-family: Montserrat;
}

.text {
  color: #646464;
  font-size: small;
}

/* Header - (Grid) */
.l-header-grids {
  display: grid;
  grid-template-columns: 70px 2fr 50px;
  height: 80px;
  align-items: center;
  gap: 10px;
}

.l-header-grids img {
  width: 100%;
}

.header-box {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: start;
}

.info-box {
  border: 0.5px solid #bdbcbc;
  padding: 10px;
  height: 40px;
  font-size: smaller;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info-box-content {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.info-box p {
  margin: 0;
  font-weight: 100;
  color: rgb(58, 58, 58);
}

.info-box-content i {
  font-size: large;
}

.info-box-content p {
  font-weight: bold;
  font-size: medium;
  color: black;
}

.menu {
  border: 0.5px solid #bdbcbc;
  height: 40px;
  width: 50px;
}

.menu i {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100%;
  width: 100%;
}

.navbar {
  display: none;
}

/* Big box news 2 */
.l-big-news {
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
  height: 400px;
}

.l-big-news img {
  height: 400px;
  width: 100%;
  object-fit: cover;
  /* position: relative; */
}

.big-news-content {
  position: absolute;
  bottom: 0;
  color: white;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 10px;
}

.primary-btn {
  box-sizing: unset;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  background: linear-gradient(129deg, #c40097, #d6710b);
  background-image: linear-gradient(-120deg, #e08100, #c90027);
  color: #fff;
  font-weight: 700;
  font-size: 13px;
  transition: 0.5s ease-in-out;
  width: 30px;
}

.primary-btn:hover {
  padding: 10px 30px;
}

.big-news-content h1 {
  margin: 0;
  font-size: 20px;
}

.big-news-content .text {
  display: none;
}

.big-news-icons {
  display: flex;
  justify-content: space-between;
  width: 180px;
  margin: 10px 0 5px;
}

.big-news-icon-1 {
  /* background: #f0efef; */
  background: rgba(0, 0, 0, 0.3);
  color: #767676;
  padding: 5px 10px;
}

.big-news-icon-2 {
  color: #767676;
  padding: 5px 10px;
}

/* Box news - (Grids) */
.l-box-grids {
  display: none;
}

/* Story - (Grid) */
.l-story-grids {
  display: grid;
  overflow-x: auto;
  grid-auto-flow: column;
  /* overflow: hidden; */
  gap: 10px;
}

.l-story-grids::-webkit-scrollbar {
  display: none;
}

.l-story-grid {
  height: 300px;
  width: 200px;
  overflow: hidden;
  position: relative;
  border-radius: 7px;
}

.l-story-grid img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform 0.5s;
}

.story-about {
  position: absolute;
  bottom: 0;
  padding: 15px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), transparent);
}

.story-title {
  /* position: absolute;
  bottom: 0; */
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  font-family: sans-serif;
  font-weight: 400;
  max-height: 40px;
  overflow: hidden;
  transition: max-height 0.5s;
  margin: 0 0 5px;
}

.story-link {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  inset: 0;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s;
}

.story-icon {
  font-size: 12px;
  color: #fff;
  font-weight: 700;
}

.l-story-grid:hover .story-title {
  max-height: 120px;
}

.l-story-grid:hover img {
  transform: scale(1.2);
}

.l-story-grid:hover .story-link {
  opacity: 1;
}

.l-left-grid-img:hover .story-link {
  opacity: 1;
}

/* 2 column - (Grid) */
.l-two-column-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.l-left-grids {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.l-left-grid-img {
  position: relative;
}

.left-link {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  inset: 0;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s;
  border-radius: 7px;
}

.l-left-grid-img:hover .left-link {
  opacity: 1;
}

.l-right-grids {
  display: none;
}

.l-left-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  overflow: hidden;
  height: 150px;
}

.l-left-grid-img img {
  height: 150px;
  width: 100%;
  object-fit: cover;
  position: relative;
  border-radius: 7px;
}

.l-left-grid-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 10px 10px 0;
}

.l-left-grid-content h1 {
  font-size: medium;
  margin: 0;
}

/* Interview - (Grid) */
.interview-grids {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
}

.interview-grid {
  height: 100%;
}

.intreview-img {
  display: flex;
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
}

.big-interview-grid {
  position: relative;
}

.interview-grid {
  position: relative;
}

.interview-content-big {
  position: absolute;
  bottom: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), transparent);
  color: #f1f1f1;
  padding: 20px;
  width: 100%;
  border-radius: 5px;
}

.interview-title {
  margin: 0;
  color: #fff;
  line-height: 20px;
  font-family: sans-serif;
  font-weight: 400;
  max-height: 40px;
  overflow: hidden;
  font-size: 16px;
  transition: max-height 0.5s;
}

.interview-grid:hover .interview-title {
  max-height: 120px;
}

.interview-small-button {
  border: none;
  height: 25px;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: rgb(51, 100, 216);
  color: white;
}
.interview-content {
  position: absolute;
  bottom: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), transparent);
  color: #f1f1f1;
  padding: 10px;
  /* width: 100%; */
}

.divider {
  border: 0.1px solid white;
}

.interview-button {
  display: flex;
  gap: 10px;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border: none;
  align-items: center;
  justify-content: center;
  background: rgb(32, 104, 164);
  background: linear-gradient(
    90deg,
    rgba(32, 104, 164, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  color: white;
  transition: all 0.4s ease-in-out;
}

.interview-button:hover {
  background: rgb(32, 82, 164);
  background: linear-gradient(
    90deg,
    rgba(32, 82, 164, 1) 0%,
    rgba(0, 179, 255, 1) 100%
  );
}

/* Other news - (Grid) */
.l-scroll-news-grids {
  display: grid;
  overflow-x: auto;
  grid-auto-flow: column;
  gap: 10px;
}

.l-scroll-news-grid {
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 360px;
  width: 250px;
  overflow: hidden;
  border: 0.7px solid #bebebe;
  border-radius: 7px;
}

.l-scroll-news-grids::-webkit-scrollbar {
  display: none;
}

.l-scroll-news-grid img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 7px;
}

.scroll-news-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.scroll-news-content p {
  margin: 0;
}

/* Comic - (Grid) */
.l-comic-grids {
  display: grid;
  gap: 10px;
  overflow-x: auto;
  grid-auto-flow: column;
}

.l-comic-grid {
  height: 250px;
  width: 100%;
}

.l-comic-grid:nth-child(n + 2) {
  display: none;
}

/* Live & Photo - (Grid) */
.l-live-photo-grids {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
}

.l-live-photo-grid {
  height: 250px;
  width: 100%;
}

.live-photo-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.live-photo-info {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8em;
  width: 50px;
}

/* Footer */
.l-footer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
}

.l-footer1 {
  height: 100px;
  flex-direction: column;
}

.l-footer2 {
  height: 100px;
  flex-direction: column;
}

@media (min-width: 600px) {
  .l-live-photo-grids {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 640px) {
  .interview-grids {
    grid-template-columns: 1fr 1fr;
  }
  .big-interview-grid {
    grid-column: 1/3;
  }

  .l-comic-grid {
    width: calc(50vh - 40 / 2);
  }

  .l-comic-grid:nth-child(n + 4) {
    display: flex;
  }
}

@media (min-width: 960px) {
  /* Header */
  .l-header-grids {
    grid-template-columns: 120px 310px 2fr;
  }

  .menu {
    display: none;
  }

  .header-box {
    justify-content: space-between;
  }

  .navbar {
    display: flex;
    gap: 10px;
    justify-content: start;
    border-radius: 5px;
  }

  .dropbtn {
    font-size: 16px;
    border: none;
    height: 40px;
    width: 120px;
    border: 0.5px solid #bdbcbc;
    background-color: white;
    font-weight: bold;
  }

  .dropdown img {
    height: 40px;
    object-fit: cover;
  }

  .dropdown {
    position: relative;
    display: inline-block;
    gap: 10px;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    width: 500px;
    z-index: 1;
    border: 0.5px solid #bdbcbc;
    border-radius: 5px;
  }

  .news-title {
    column-count: 3;
    padding: 0;
    text-decoration: none;
  }

  .dropdown-content li {
    color: black;
    text-decoration: none;
    display: block;
    margin: 0 20px 10px;
  }

  .dropdown-content li:hover {
    color: rgb(63, 159, 192);
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropbtn:last-child:hover {
    background: rgb(32, 104, 164);
    background: linear-gradient(
      90deg,
      rgba(32, 104, 164, 1) 0%,
      rgba(0, 212, 255, 1) 100%
    );
    color: white;
    font-weight: bold;
  }

  /* ------- */

  .big-news-info {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    background-color: beige;
    border-radius: 10px;
  }

  .big-news-info button {
    height: 50px;
    width: 100px;
    border-radius: 10px;
    border: none;
    background-color: rgb(35, 249, 178);
    font-family: Montserrat;
  }

  .l-big-news-grid {
    grid-template-columns: 1fr 1fr;
  }

  .l-big-news-grid img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }

  .big-news-icon-1 {
    background: #dbdbdb;
  }

  /* Big box news 2 */
  .l-big-news {
    grid-template-columns: 1fr 1fr;
  }

  .big-news-img {
    overflow: hidden;
    border-radius: 10px;
  }

  .l-big-news img {
    height: 100%;
    width: 100%;
    transition: transform 0.5s;
  }

  .l-big-news:hover .big-news-link {
    opacity: 1;
  }

  .l-big-news:hover img {
    transform: scale(1.2);
  }

  .big-news-link {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 50%;
    bottom: 0;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 1s;
    border-radius: 10px;
  }

  .big-news-content {
    position: unset;
    width: 100%;
    height: 100%;
    background: rgb(241, 241, 241);
    background: linear-gradient(
      90deg,
      rgba(241, 241, 241, 1) 20%,
      rgba(255, 255, 255, 0) 100%
    );

    color: #222;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 20px 20px 50px;
  }

  .big-news-content .text {
    display: flex;
  }

  .big-news-content h1 {
    font-size: 30px;
  }

  .big-news-icon-1 p {
    color: #4f4f4f;
  }

  /* box news */

  /* .interview-content {
    height: 30%;
  } */

  .l-story {
    width: 150px;
    height: 235px;
  }
  .l-boxes {
    display: flex;
    height: 200px;
    width: 100%;
  }

  /* Box news - (Grids) */
  .l-box-grids {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 250px;
    width: 100%;
    gap: 10px;
  }

  .box-news {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .box-news img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
  }

  .box-news h1 {
    margin: 0;
    font-size: medium;
  }

  /* 2 column - (Grid) */
  .l-two-column-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
  }

  .l-right-grids {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
  }

  .l-right-grid {
    height: 300px;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
  }

  .l-right-grid img {
    height: 170px;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
  }

  .l-right-grid-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .l-right-grid h1 {
    font-size: medium;
    margin: 0;
  }

  /* Grid container */
  .interview-grids {
    grid-template-columns: 2fr 1fr 1fr;
    height: 500px;
  }

  .big-interview-grid {
    grid-row: 1/3;
    grid-column: unset;
  }

  /* Live & Photo - (Grid) */
  .l-live-photo-grids {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .l-live-photo-grid {
    height: 315px;
  }

  .l-two-column {
    gap: 10px;
  }

  .l-column {
    float: left;
    height: 100px;
    width: 100%;
  }

  .l-hot-news {
    height: 100px;
    width: 100%;
    padding: 20px;
  }

  .l-left {
    width: 75.5%;
  }
  .l-right {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 100%;
    width: 260px;
    opacity: 1;
  }

  .l-comic-grid {
    width: 300px;
  }

  .l-comic-grid:nth-child(n + 1) {
    display: flex;
  }
}
